VITE_API_URL=http://192-168-1-5.nip.io:1174
VITE_SOCKET_URL=http://192-168-1-5.nip.io:3000
VITE_APP_NAME=Nhà Trọ Việt
#GOONG_MAPS
VITE_GOONG_BASE_URL=https://rsapi.goong.io
VITE_MAPS_API_KEY=
VITE_GOONG_MAPTILES_KEY=
VITE_BASE_URL=https://rsapi.goong.io